@keyframes slidein_1 {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    20%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slidein_2{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    20%{
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
p{
    font-size: 1.03vw;
}
body{
    background-color:#0d1117;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content:space-evenly;
    width: fit-content;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: black;
    border-radius: 50px;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.nav{
    margin: 10px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 50px;
    transition: all 0.15s ease-in;
}
.nav:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}
#here{
    background-color: rgba(255, 255, 255, 0.3);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
}
section{
    display: flex;
    justify-content: center;
    width: 30%;
}
div{
    background-color: #3d3d3d;
    height: 100%;
    width: 100%;
    margin: 10px;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    border: 3px solid transparent;
    transition: border-color 0.15s ease-in;
}
img{
    width: 50px;
    height: 50px;
}
#number_text{
    color: #29a71a;
    font-weight: bold;
    font-size: 25px;
}
#mail_text{
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 20px;
}
#linked_text{
    color: #0077b5;
    font-weight: bold;
    font-size: 20px;
}
#facebook_text{
    color: #1976d2;
    font-weight: bold;
    font-size: 20px;
}
#number{
    animation: slidein_1 0.4s ease-in;
}
#mail{
    animation: slidein_2 0.36s ease-in;
}
#linked{
    animation: slidein_1 0.41s ease-in;
}
#facebook{
    animation: slidein_2 0.38s ease-in;
}
#number:hover{
    border-color: #29a71a;
}
#mail:hover{
    border-color: #f44336;
}
#linked:hover{
    border-color: #0077b5;
}
#facebook:hover{
    border-color: #1976d2;
}
