@keyframes slidein_grid1 {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    20%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slidein_grid2y3 {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    20%{
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slidein_grid4 {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    20%{
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
p{
    font-size: 100%;
}
*{
    scrollbar-width: thin;
    scrollbar-color: #3d3d3d #0d1117;
}
*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: #0d1117;
    color: #3d3d3d;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #0d1117;
    border-radius: 20px;
    border: 3px solid transparent;
}
body{
    background-color:#0d1117;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    min-width: 400px;
    width: fit-content;
    top: 5%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: black;
    border-radius: 50px;
    position:sticky;
    z-index: 9999;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.nav{
    margin: 10% 1%;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 50px;
    transition: all 0.15s ease-in;
    width: max-content;
}
.nav:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}
#here{
    background-color: rgba(255, 255, 255, 0.3);
}
main{
    display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 80px;
}
section{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.3%;
    height: fit-content;
    width: 55vw;
    max-width: 700px;
}
.grid{
    background-color: #3d3d3d;
    border-radius: 15px;
    transition: all 0.25s ease-in-out;
    border: 3px solid #3d3d3d;
}
#grid1{
    grid-column: 1;
    grid-row: 1/3;
    animation: slidein_grid1 0.7s ease-out;
    border: 3px solid transparent;
    background: url(img/profile.png);
    background-size: cover;
    background-clip: padding-box;
    background-position: center;
}
#grid2{
    border-color: #26917f;
    background-color: #26917f;
    padding-left: 7%;
    padding-right: 7%;
    animation: slidein_grid2y3 0.73s ease-out;
}
#grid2_text{
    color: #000000;
    font-size: calc(1rem + 0.5vw + 0.8vh);
}
#grid3{
    border-color: #3f77a5;
    background-color:#3f77a5;
    padding-left: 7%;
    padding-right: 7%;
    animation: slidein_grid2y3 0.67s ease-out;
}
#grid3_text{
    color: rgb(231, 231, 231);
    font-size: calc(1rem + 0.5vw + 0.5vh);
}
#grid4{
    background: url(img/cielo.jpg);
    background-size:cover;
    padding-left: 7%;
    padding-right: 7%;
    grid-column: 1/3;
    grid-row: 3;
    animation: slidein_grid4 0.72s ease-out;
    border: 3px solid transparent;
    background-clip: padding-box;
}
#grid4_text{
    color: white;
    font-size: calc(1rem + 1vh + 0.7vw);
}


#grid1:hover{
    border: 3px solid #54cbcf;
}
#grid2:hover{
    border: 3px solid #c75467;
}
#grid3:hover{
    border: 3px solid #ffb443;
}
#grid4:hover{
    border: 3px solid #5ab34e;
}
