@keyframes slidein_project1 {
    0%{
        opacity: 0;
        transform: translateX(-40%);
    }
    20%{
        opacity: 0;
        transform: translateX(-40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slidein_project2 {
    0%{
        opacity: 0;
        transform: translateX(40%);
    }
    20%{
        opacity: 0;
        transform: translateX(40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
body{
    background-color:#0d1117;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    overflow-x: hidden;
}
p{
    font-size: 1vw;
    margin: 0;
}
h2{
    font-size: 1.35vw;
}
header{
    display: flex;
    width: fit-content;
    top:40px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: black;
    border-radius: 50px;
    position:sticky;
    z-index: 9999;

}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.nav{
    margin: 10px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 50px;
    transition: all 0.15s ease-in;
}
.nav:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}
#here{
    background-color: rgba(255, 255, 255, 0.3);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.project1{
    display: flex;
    width: 60%;
    aspect-ratio: 5.5/1;
    background-color: #3d3d3d;
    margin-bottom: 40px;
    border: 3px solid transparent;
    border-radius: 15px;
    object-fit: cover;
    transition: border-color 0.15s ease-in,transform 0.15s ease-in;
    animation: slidein_project1 0.7s ease-out;
}
.project1:hover{
    border-color: rgb(22, 212, 165);
    transform: scale(1.03);
}
.project2{
    display: flex;
    width: 60%;
    aspect-ratio: 5.5/1;
    background-color: #3d3d3d;
    margin-bottom: 40px;
    border: 3px solid transparent;
    justify-content: flex-end;
    border-radius: 15px;
    object-fit: cover;
    transition: border-color 0.15s ease-in,transform 0.15s ease-in;
    animation: slidein_project2 0.7s ease-out;
}
.project2:hover{
    border-color: #bf216d;
    transform: scale(1.03);
}
.project1 img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px; 
    border-bottom-left-radius: 12px;
}
.project2 img{
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 12px; 
    border-bottom-right-radius: 12px;    
}
.project_text{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 3% 1% 4%;
}
