@keyframes slidein_grid1 {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    20%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slidein_grid2 {
    0%{
        opacity: 0;
        transform: translateY(-70%);
    }
    20%{
        opacity: 0;
        transform: translateY(-70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slidein_grid4 {
    0%{
        opacity: 0;
        transform: translateY(70%);
    }
    20%{
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slidein_grid3y5 {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    20%{
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slidein_grid6 {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    20%{
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    background-color:#0d1117;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    justify-content:space-evenly;
    width: fit-content;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: black;
    border-radius: 50px;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.nav{
    margin: 10px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 50px;
    transition: all 0.15s ease-in;
}
.nav:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}
#here{
    background-color: rgba(255, 255, 255, 0.3);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.project{
    width: 60%;
    opacity: 1;
    height: 150px;
    background-color: #3d3d3d;
    margin-bottom: 40px;
    border-radius: 15px;
    transition: opacity 1s ease;
}
